# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Logs
log/
*.log

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux
*~

# Coverage
.coverage
htmlcov/

# Cache
.pytest_cache/
